body {
  margin: 0 auto;
  text-align: center;
  font-family: 'Montserrat', Arial, sans-serif;
  color: #202020;
  letter-spacing: 4px;
  background-color: #3860AB;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.pokedex__container {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(2, 1fr);
}

.pokemon {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  position: relative;
  width: 90%;
  min-width: 200px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 4px;
  box-shadow: 0 2px 1px #685508f3,
  0 3px 1px rgba(0, 0, 0, 0.589);
  overflow: hidden;
  margin: 1rem auto;
}

.pokemon:hover,
.pokemon:active {
  position: relative;
  top: -0.5rem;
}

.pokemon__name {
  background-color: #FFCB05;
  text-align: center;
}

.pokemon__name p {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  margin: 0.5rem auto;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.664),
               0px 3px 1px rgba(175, 164, 164, 0.425);
}

.pokemon__name p:first-of-type,
.pokemon__name p:last-of-type {
  font-size: 0.7rem;
}

.pokemon__image {
  margin: 1rem auto 0.4rem auto;
  position: relative;
  overflow: hidden;
}

.pokemon__image img {
  width: 80%;
}

.pokemon__details {
  background-color: #FFCB05;
  text-align: center;
  padding: 0.1rem 0.5rem;
}

.pokemon__details p {
  color: #3860AB;
  letter-spacing: 2px;
  font-size: 0.8rem;
  margin: 0.3rem auto;
  text-shadow: 0px 1px 1px rgb(255, 255, 255),
               0px 3px 1px rgba(175, 164, 164, 0.425);
}

@media (min-width: 700px) {
  .pokedex__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .pokemon__details {
    border-radius: 6px 6px 0 0;
    margin: 0 1rem;
  }
  .pokemon__details p {
    letter-spacing: 4px;
    font-size: 1rem;
    margin: 0.5rem auto;
  }
}

@media (min-width: 1200px) {
  .pokedex__container {
    grid-template-columns: repeat(4, 1fr);
  }
  .pokemon__details {
    margin: 0 2rem;
  }
}

@media (min-width: 2000px) {
  .pokedex__container {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 2500px) {
  .pokedex__container {
    grid-template-columns: repeat(6, 1fr);
  }
}